# ==========================================
# 1. 基础与系统设置 (General & System)
# ==========================================
project_name: "CS336-TransformerLM-OpenWebText-ablation"
seed: 42
device: "cuda"
load_ckpt: False
save_ckpt: False
checkpoint_path: "./checkpoints/"

# ==========================================
# 2. 数据设置 (Data Configuration)
# ==========================================
train_data_path: "data/owt_train.bin"
val_data_path: "data/owt_valid.bin"
batch_size: 64
context_length: 256
token_dtype: "uint16"

# ==========================================
# 3. 模型架构设置 (Model Architecture)
# ==========================================
vocab_size: 50257
n_layers: 4
n_heads: 4
d_model: 256
d_ff: null
n_kv_heads: null

activation: 'relu'
gated_ffn: False
gated_attn: False
Weight_Tying: False

post_norm: True
layer_norm: True
no_norm: False

pos_emb_type: 'sinusoidal'
rope_theta: 10000.0
bias: False

# ==========================================
# 4. 训练流程设置 (Training Loop)
# ==========================================
max_steps: 20000
warmup_steps: 2000
cycle_steps: 18000

log_interval: 100
eval_interval: 500
eval_steps: 50
checkpoint_interval: 4000

# ==========================================
# 5. 优化器与调度器 (Optimizer & Scheduler)
# ==========================================
lr_schedule: 'cosine'
max_learning_rate: 3e-4
min_learning_rate: 3e-5
weight_decay: 0.01
max_grad_norm: 1.0

beta1: 0.9
beta2: 0.95
eps: 1e-8