# ==========================================
# 1. 基础与系统设置 (General & System)
# ==========================================
project_name: "CS336-TransformerLM-OpenWebText-Vanilla"
seed: 42
device: "cuda"
load_ckpt: False
save_ckpt: True
checkpoint_path: "./checkpoints/"

# ==========================================
# 2. 数据设置 (Data Configuration)
# ==========================================
train_data_path: "data/owt_train.bin"
val_data_path: "data/owt_valid.bin"
batch_size: 16
context_length: 1024
token_dtype: "uint16"

# ==========================================
# 3. 模型架构设置 (Model Architecture)
# ==========================================
vocab_size: 50257
n_layers: 12
n_heads: 8
d_model: 512
d_ff: null
theta: 10000.0

# 以下为消融的可选实验参数
n_kv_heads: null

activation: 'relu'
gated_ffn: False
gated_attn: False
Weight_Tying: True

post_norm: True
layer_norm: True
no_norm: False

pos_emb_type: 'sinusoidal'

bias: True

flash_attn: True

# ==========================================
# 4. 训练流程设置 (Training Loop)
# ==========================================
max_steps: 10000
warmup_steps: 1000
cycle_steps: 7000
accumulate_size: 8
grad_checkpointing: False

log_interval: 50
eval_interval: 200
eval_steps: 50
checkpoint_interval: 1000

# ==========================================
# 5. 优化器与调度器 (Optimizer & Scheduler)
# ==========================================
lr_schedule: 'wsd'
max_learning_rate: 3e-4
min_learning_rate: 3e-5
weight_decay: 0.01
max_grad_norm: 1.0

beta1: 0.9
beta2: 0.95
eps: 1e-8